:root {
  --border: 1px solid #a1a1a1;
  --border-radius: 8px;
}

.button-list {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.button-list button {
  background: none;
  border: var(--border);
  padding: 8px 12px;
  border-radius: var(--border-radius);
}
table {
  border: var(--border);
}

td {
  border: var(--border);
}
